{% extends '_base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="ew p-center">
        <p>
            Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее выполнить
            сброс.
        </p>
        {% url 'account_reset_password' as reset_url %}
        <form method="post" action="{{ reset_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сменить пароль</button>
        </form>
        <p>Пожалуйста, свяжитесь с нами, если у вас возникли проблемы со сменой пароля</p>
    </div>
{% endblock content %}