{% extends '_base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="ew p-center">
    {% if token_fail %}
    <h2>Истек срок токена</h2>
    {% else %}
    <h2>Смена пароля</h2>
    {% endif %}

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="mb10">
        Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. 
        Пожалуйста, запросите сброс нового пароля снова.
    </p>
    <a class="button wct" href="{{ passwd_reset_url }}">
        <span>СБРОС ПАРОЛЯ</span>
    </a>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Сменить пароль</button>
    {% endif %}
</div>
{% endblock %}