{% extends '_base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="ew p-center">
    <p class="mb10">
        Мы отправили вам электронное письмо с инструкцие по смене пароля. Если вы его не 
        получили, пожалуйста, проверьте папку «Спам». В противном случае
        свяжитесь с нами, если вы не получите его в течение нескольких минут.
    </p>
    <a class="button wct" href="{% url 'account_login' %}">
        <span>ВОЙТИ</span>
    </a>
</div>
{% endblock content %}