.profile-avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile-button {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #212121;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.profile-button:hover {
    background-color: #a5a4a4;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 800px) {
    .profile-avatar {
        width: 200px;
        height: 200px;
    }
    .profile-text {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .profile-avatar {
        width: 150px;
        height: 150px;
    }
    .profile-text {
        font-size: 16px;
    }
}