{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'static/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inside">
                <a href="{% url 'home' %}" class="header-logo">TalkTrove</a>
                <nav class="nav">
                    <ul class="nav-group">
                        <li class="nav-list"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
                        <li class="nav-list"><a href="#" class="nav-link scrollto">Контакты</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-list"><a href="{% url 'new_message' %}" class="nav-link">Написать</a></li>
                        {% if user.is_superuser or user.is_admin %}
                        <li class="nav-list"><a href="{% url 'check_message' %}" class="nav-link">Проверить новые сообщения</a></li>
                        {% endif %}
                        <li class="nav-list"><a href="{% url 'account_logout' %}" class="nav-link">Выйти</a></li>
                        <li class="nav-list"><a href="{% url 'user_profile' username=user.username %}" class="nav-link">{{ user.username }}</a></li>
                        <li style="list-style: none; color: #fff;">{{ user.get_user_role }}</li>
                        {% else %}
                        <li class="nav-list"><a href="{% url 'account_login' %}" class="nav-link">Войти</a></li>
                        <li class="nav-list"><a href="{% url 'account_signup' %}" class="nav-link">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="overlay"></div>
<!-- меню справа -->
    <table>
        <tr>
            <td valign="top" class="left-chapters">
                <ul style="margin-top: 46px;">
                    <li>Выберите категорию:</li>
                    {% if cat_selected == 0 %}
                    <li class="selected">Все категории</li>
                    {% else %}
                    <li><a href="{% url 'home' %}">Все категории</a></li>
                    {% endif %}

                    {% show_categories 'name' cat_selected %}

                    {% if user.is_admin or user.is_superuser %}
                    <li><a style="margin-top: 20px;" href="{% url 'show_category' %}">Управление категориями</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    </table>
<!-- конец меню справа -->
    <div class="d-flex" style="margin-left: 200px;">
    {% block content %}{% endblock %}
    </div>
    {% block JS %}{% endblock %}
</body>

</html>