{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'static/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inside">
                <a href="{% url 'home' %}" class="header-logo">TalkTrove</a>
                <nav class="nav">
                    <ul class="nav-group">
                        <li class="nav-list"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
                        <li class="nav-list"><a href="#" class="nav-link scrollto">Контакты</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-list"><a href="{% url 'new_message' %}" class="nav-link">Написать</a></li>
                        {% if user.is_superuser or user.is_admin %}
                        <li class="nav-list"><a href="{% url 'check_message' %}" class="nav-link">Проверить новые сообщения</a></li>
                        {% endif %}
                        <li class="nav-list"><a href="{% url 'account_logout' %}" class="nav-link">Выйти</a></li>
                        <li class="nav-list"><a href="{% url 'user_profile' username=user.username %}" class="nav-link">{{ user.username }}</a></li>
                        <li style="list-style: none; color: #fff;">{{ user.get_user_role }}</li>
                        {% else %}
                        <li class="nav-list"><a href="{% url 'account_login' %}" class="nav-link">Войти</a></li>
                        <li class="nav-list"><a href="{% url 'account_signup' %}" class="nav-link">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="overlay"></div>
    {% block content %}{% endblock %}
    {% block JS %}{% endblock %}
    <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/smooth_scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/_ajax.js' %}"></script> -->
    <!-- <script type="text/javascript" src="js/sign.js"></script> -->
    <!-- <script type="text/javascript" src="{% static 'js/burger.js' %}"></script> -->
</body>

</html>