{% extends '_base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="container">
        <section>
            <p class="hero-subtitle">Cообщения</p>
        </section>
        {% for article in new_posts %}
        <section class="blog">
            <div class="top-block">
            </div>
            <img class="blog-image" src="{{ article.photo.url }}" alt="article image">
            <div class="blog-block">
                <h1 class="blog-title">{{ article.title }}</h1>
                <p class="blog-content">{{ article.content }}... <a href="{% url 'show_posts' pk=article.pk %}">Читать
                        ещё ></a></p>
                <!-- Просмотры и дата публикации -->
                <div class="blog-info">
                    <p style="margin-right: 10px;">Автор:</p>
                    <a style="margin-right: 20px;" href="{% url 'user_profile' username=article.creater.username %}"> 
                        {{ article.creater.get_full_name }}</a>
                    <time class="blog-data">{{ article.time_create }}</time>
                </div>
            </div>
            <a href="{% url 'public_posts' article.pk %}">Опубликовать</a>
            <a href="{% url 'delete_posts' article.pk %}">Удалить</a>
        </section>
        {% endfor %}
    </div>
</main>
{% endblock %}