{% extends '_base.html' %}

{% block content %}
<div class="d-flex jc-center">
    <div class="d-flex jc-center ai-fs mw1000 w80">
        <div class="w100 c-b">
            <div class="pc mw100 d-block p10">
                <h2>Редактирование профиля</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="wb col-m wct" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}