{% extends '_base.html' %}
{% load static %}

{% block content %}
<main class="main">
	<div class="container">
		<section >
			<p class="hero-subtitle">Cообщения</p>
		</section>
		{% if posts %}
		{% for article in posts %}
		<section class="blog">
			<div class="top-block">
				<!-- <div>
					<a href="{% url 'user_profile' username=article.creater.username %}">
						<img class="user-image" src="{{ article.creater.get_picture }}" alt="article image">
					</a>
				</div> -->
				<!-- <a href="{% url 'user_profile' username=article.creater.username %}">{{ article.creater.get_full_name }}</a> -->
			</div>
			<img class="blog-image" src="{{ article.photo.url }}" alt="article image">
			<div class="blog-block">
				<h1 class="blog-title">{{ article.title }}</h1>
				<p class="blog-content">{{ article.content }}... <a href="{% url 'show_posts' pk=article.pk %}">Читать
						ещё ></a></p>
				<!-- Просмотры и дата публикации -->
				<div class="blog-info">
					<p style="margin-right: 10px;">Автор:</p> 
					<a style="margin-right: 20px;" href="{% url 'user_profile' username=article.creater.username %}"> {{ article.creater.get_full_name }}</a>
					<time class="blog-data">{{ article.time_create }}</time>
					<ion-icon name="eye-outline" class="views-icon"></ion-icon>
					<span class="views-count">Просмотры: {{ article.views.count }}</span>
				</div>
			</div>
		</section>
		{% endfor %}
		{% endif %}
	</div>
</main>
{% endblock %}
