{% load static %}

{% if posts %}
{% for article in posts %}
<section class="blog">
    <div class="top-block">
    </div>
    <a href="{% url 'show_posts' slug=article.slug %}">
        <img class="blog-image" src="{{ article.photo.url }}" alt="article image">
    </a>
    <div class="blog-block">
        <h1 class="blog-title"><a href="{% url 'show_posts' slug=article.slug %}">{{ article.title }}</a></h1>
        <p>Категория: {{ article.cat.name }}</p><br>
        <p class="blog-content">{{ article.content }}</p>
        <!-- Просмотры и дата публикации -->
        <div class="blog-info">
            <p style="margin-right: 10px;">Автор:</p>
            <a style="margin-right: 20px;" href="{% url 'user_profile' username=article.creater.username %}"> 
                {{ article.creater.get_full_name }}
            </a>
            <time class="blog-data">{{ article.time_create }}</time>
            <ion-icon name="eye-outline" class="views-icon"></ion-icon>
            <span style="margin-right: 20px;" class="views-count">Просмотры: {{ article.views.count }}</span>
            <a href="{% url 'show_posts' slug=article.slug %}" class="views-count">
                Комментарии:
                {% for post, comment in comments_dict.items %}
                {% if post == article %}
                {{ comment }}
                {% endif %}
                {% empty %}
                0
                {% endfor %}
            </a>
        </div>
    </div>
</section>
{% endfor %}
{% endif %}