<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мой блог о всем</title>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'static/img/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-inside">
				<a href="{% url 'articles:index' %}" class="header-logo">TalkTrove</a>
				<nav class="nav">
					<ul class="nav-group">
						<li class="nav-list"><a href="{% url 'articles:index' %}" class="nav-link">Главная</a></li>
							<li class="nav-list"><a href="{% url 'articles:contacts' %}" class="nav-link scrollto">Контакты</a></li>
					</ul>
				</nav>
					{% if user.is_authenticated %}
					<div class="header-user-bar" onclick="menuToggle();">
                    {% if new_avatar %}
                        <img src="{{ new_avatar.url }}" alt="user avatar" class="user-avatar">
                    {% elif user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="user avatar" class="user-avatar">
                    {% else %}
                        <img src="{% static 'img/avatar1.svg' %}" alt="user avatar" class="user-avatar">
                    {% endif %}

					<div class="user-name unselectable">{{ user.username }}</div>
					<div class="user-arrow">
						<svg height="8" viewBox="0 0 12 8" width="12" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" clip-rule="evenodd" d="M2.16 2.3a.75.75 0 011.05-.14L6 4.3l2.8-2.15a.75.75 0 11.9 1.19l-3.24 2.5c-.27.2-.65.2-.92 0L2.3 3.35a.75.75 0 01-.13-1.05z" fill-rule="evenodd"></path></svg>
					</div>
				</div>
				<div class="header-user-menu">
					<ul class="user-menu-group">
						<form action="{% url 'articles:logout' %}" method="post">
							{% csrf_token %}
						<li class="user-menu-list"><img src="{% static 'img/exit.svg' %}" class="user-menu-ico"><button class="user-menu-link">Выйти</button></li>
						</form>
					</ul>
				</div>
					{% else %}
				<div class="sign-wrap">
					<button class="login-btn" id="login">Войти</button>
					<button class="registr-btn" id="registr">Регистрация</button>
				</div>
					{% endif %}
				<a href="#" class="menu-btn">
					<span class="menu-btn-arr"></span>
				</a>
			</div>
		</div>
	</header>
	<main class="main">
		<main>
        <div class="container" style="margin-top: 5rem; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 35px">
            <h2 class="profile-text">Профиль пользователя: {{ user.username }}</h2>
            {% if new_avatar %}
                <img class="profile-avatar" src="{{ new_avatar.url }}" alt="user avatar">
            {% elif user.avatar %}
                <img class="profile-avatar" src="{{ user.avatar.url }}" alt="user avatar">
            {% else %}
                <img class="profile-avatar" src="{% static 'img/avatar1.svg' %}" alt="user avatar">
            {% endif %}

            <form class="profile-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input onchange="this.form.submit()" style="display: none" name="avatar" type="file" id="profile_file" accept="image/png, image/jpeg, image/jpg">
                <label for="profile_file">
                    <span class="profile-button">Выберите файл</span>
                </label>
            </form>

        </div>
    </main>
	</main>

	<section class="mobile-menu">
		<ul class="mobile-group">
			<li class="mobile-list"><a href="#" class="mobile-link">Главная</a></li>
			<li class="mobile-list"><a href="#forum" class="mobile-link">Форум</a></li>
			<li class="mobile-list"><a href="#contacts" class="mobile-link">Контакты</a></li>
		</ul>
		<div class="mobile-sign-wrap">
			{% if is_auth == True %}
					<form action="{% url 'articles:logout' %}" method="post">
						{% csrf_token %}
						<button class="mobile-login-btn">Выйти</button>
					</form>
			{% else %}
					<button class="mobile-login-btn" id="mobile-login">Войти</button>
					<button class="mobile-registr-btn" id="mobile-registr">Регистрация</button>
			{% endif %}
		</div>
	</section>
	<section class="modal" id="loginModal">
		<div class="modal-dialog">
			<button class="modal-close" type="button"><span class="modal-close-btn"></span></button>
			<h2>Личный кабинет</h2>
				{% csrf_token %}
				<p>
					<label class="visually-hidden" for="user-login">Логин</label>
					<input class="login-icon-user" id="user-login" type="text" name="login">

				</p>
				<p>
					<label class="visually-hidden" for="user-password">Пароль</label>
					<input class="login-icon-password" id="user-password" type="password" name="password">
				</p>
				<p class="login-password-info">
					<label class="login-checkbox">
						<input type="checkbox" name="remember" id="remember" class="visually-hidden">
						<span class="checkbox-indicator"></span>
						Запомните меня
					</label>
				</p>
				<button class="modal-login-btn" type="submit" onclick="login()">Войти</button>
		</div>
	</section>
	<section class="modal" id="registerModal">
		<div class="modal-dialog">
			<button class="modal-close" type="button"><span class="modal-close-btn"></span></button>
			<h2>Регистрация</h2>
				{% csrf_token %}
				<p>
					<label class="visually-hidden" for="register-login">Логин</label>
					<input class="login-icon-user" id="register-login" type="text" name="login">

				</p>
				<p>
					<label class="visually-hidden" for="register-password">Пароль</label>
					<input class="login-icon-password" id="register-password" type="password" name="password">
				</p>
				<p>
					<label class="visually-hidden" for="register-password-confirm">Пароль</label>
					<input class="login-icon-password" id="register-password-confirm" type="password" name="password">
				</p>
				<p class="login-password-info">
					<label class="login-checkbox">
						<input type="checkbox" name="remember" id="register" class="visually-hidden">
						<span class="checkbox-indicator"></span>
						Запомните меня
					</label>
				</p>
				<button class="modal-login-btn" type="submit" onclick="register()">Войти</button>
		</div>
	</section>
	<div class="overlay"></div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/smooth_scroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/_ajax.js' %}"></script>
	<!-- <script type="text/javascript" src="js/sign.js"></script> -->
	<script type="text/javascript" src="{% static 'js/burger.js' %}"></script>
	<script>
		function menuToggle() {
			const toggleMenu = document.querySelector('.header-user-menu')
			const toggleArrow = document.querySelector('.user-arrow')
			const activeBar = document.querySelector('.header-user-bar')
			toggleMenu.classList.toggle('active')
			toggleArrow.classList.toggle('active')
			activeBar.classList.toggle('active')
		}
	</script>
</body>
</html>