{% extends '_base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="container">
        <section class="blog">
            <div class="top-block">
            </div>
            <img style="max-width: 600px;" src="{{ post.photo.url }}" alt="post image">
            <div class="blog-block">
                <h1 class="blog-title">{{ post.title }}</h1>
                <p class="blog-content">{{ post.content }}</p>
                <!-- Просмотры и дата публикации -->
                <div class="blog-info">
                    <p style="margin-right: 10px;">Автор:</p>
                    <a style="margin-right: 20px;" href="{% url 'user_profile' username=post.creater.username %}"> 
                        {{ post.creater.get_full_name }}
                    </a>
                    <time class="blog-data">{{ post.time_create }}</time>
                    <ion-icon name="eye-outline" class="views-icon"></ion-icon>
                    <span class="views-count">Просмотры: {{ post.views.count }}</span>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}