{% extends '_base.html' %}
{% load static %}
{% block content %}
<h2>Личный кабинет</h2>

<div class="d-flex jc-center">
    <div class="d-flex jc-center ai-fs mw80">
        <div >
            <main class="main">
                <div style="max-width: 700px;" class="container">
                    <section class="blog" style="flex-wrap: wrap;">
                        <div class="top-block">
                        </div>
                        <img style="max-width: 600px;" src="{{ user_model.get_picture }}" alt="ava-{{ user_model.username }}">
                        <div class="blog-block">
                            <h1 class="blog-title">{{ user_model.username }}</h1>
                            <p style="margin-top: 50px;">{% if user_model.first_name %}
                            {{ user_model.first_name }}
                            {% else %}Имя не указано{% endif %}{% if user_model.last_name %}
                            {{ user_model.last_name }}{% else %}</p><p>Фамилия не указана{% endif %}</p>
                            <p class="blog-content">e-mail: {% if user_model.email %}{{ user_model.email }}{% else %}Не указано{% endif %}</p>
                            
                            <p>Дата регистрации: {{ user_model.date_joined|date:"d F Y" }}</p>
                            <div style="margin-top: 50px;">
                                {% if user_model.pk == request_user.pk %}
                                <a href="{% url 'edit_profile' username=user_model.username %}">Редактировать</a>
                                {% else %}
                                {% if not user_model.is_admin %}
                                <a href="{% url 'grant_admin' username=user_model.username %}">Выдать права администратора</a>
                                {% else %}
                                <a href="{% url 'revoke_admin' username=user_model.username %}">Удалить права администратора</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>

        <div>
            </div>

            {% if user_model.pk == request_user.pk %}
            <h2>Ваши сообщения:</h2>
            <main class="main">
                <div class="container">
                    {% for article in user_ad %}
                    <section class="blog">
                        <div class="top-block">
                        </div>
                        <img class="blog-image" src="{{ article.photo.url }}" alt="article image">
                        <div class="blog-block">
                            <h1 class="blog-title">{{ article.title }}</h1>
                            <p>Категория: {{ article.cat.name }}</p><br>
                            <p class="blog-content">{{ article.content }}... <a href="{% url 'show_posts' slug=article.slug %}">Читать
                                    ещё ></a></p>
                            <!-- Просмотры и дата публикации -->
                            <div class="blog-info">
                                <p style="margin-right: 10px;">Автор:</p>
                                <a style="margin-right: 20px;" href="{% url 'user_profile' username=article.creater.username %}"> 
                                    {{ article.creater.get_full_name }}</a>
                                <time class="blog-data">{{ article.time_create }}</time>
                                <ion-icon name="eye-outline" class="views-icon"></ion-icon>
                                <span class="views-count">Просмотры: {{ article.views.count }}</span>
                            </div>
                            {% if user.pk == article.creater.pk %}
                            <a href="{% url 'edit_post' article.pk %}">Изменить</a>
                            <a href="{% url 'delete_posts' article.pk %}">Удалить</a>
                            {% endif %}
                            {% if article.is_published %}
                            <h5>Опубликовано</h5>
                            {% else %}
                            <h5>Не опубликовано</h5>
                            {% endif %}
                            <hr>
                        </div>
                    </section>
                    {% endfor %}
                </div>
            </main>
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}